<div>
  <!-- <div class="container">
    <h2>What are your top 3 goals?</h2>
    <p>Select from options below to tailor our recommendations to your goals</p>
    <div class="goals">
      <button (click)="toggleGoal('Increase Endurance')">Increase Endurance</button>
      <button (click)="toggleGoal('Relieve Stress')">Relieve Stress</button>
      <button (click)="toggleGoal('Improve Fitness')">Improve Fitness</button>
      <button (click)="toggleGoal('Gain Strength')">Gain Strength</button>
      <button (click)="toggleGoal('Lose Weight')">Lose Weight</button>
      <button (click)="toggleGoal('Gain Weight')">Gain Weight</button>
    </div>
    <button (click)="completeSelection()">Done</button>
  </div> -->
  <h2 id="page-heading" data-cy="WorkoutHeading">
    <span>Workouts</span>
    <h2>For more details on a workout click View</h2>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-outline-secondary" routerLink="/dashboard">Dashboard <i class="fa fa-arrow-right"></i></button>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-workout"
        [routerLink]="['/workout/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Workout </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning warning-box" id="no-result" *ngIf="workouts?.length === 0">
    <span>No Workouts found</span>
  </div>

  <div class="container" *ngIf="workouts && workouts.length > 0">
    <div class="card" *ngFor="let workout of workouts; trackBy: trackId" data-cy="entityTable">
      <div class="card-body">
        <h5 class="card-title">{{ workout.name }}</h5>
        <p class="card-text">{{ workout.description }}</p>
        <p class="card-text">
          <small class="text-muted">Duration: {{ workout.duration }}</small>
        </p>
        <p class="card-text">
          <small class="text-muted">Intensity Level: {{ workout.intensityLevel }}</small>
        </p>
        <a [routerLink]="['/workout', workout.id, 'view']" class="btn btn-primary">View</a>
        <a [routerLink]="['/workout', workout.id, 'edit']" class="btn btn-primary">Edit</a>
        <button (click)="delete(workout)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
