<h2 class="container text-center">Setting your goal(s)!</h2>
<div class="d-flex justify-content-around">
  <div class="category">
    <button
      id="jh-create-entity-sleeping-time"
      data-cy="entityCreateButton"
      (click)="updateSelectedValue('Value1')"
      [routerLink]="['/custom-goal/new']"
    >
      Sleep time
    </button>
    <button
      id="jh-create-entity-calorie-intake"
      data-cy="entityCreateButton"
      (click)="updateSelectedValue('Value2')"
      [routerLink]="['/custom-goal/new']"
    >
      Calorie intake goal for a day
    </button>
    <button
      id="jh-create-entity-mood"
      data-cy="entityCreateButton"
      (click)="updateSelectedValue('Value3')"
      [routerLink]="['/custom-goal/new']"
    >
      Today's mood
    </button>
    <button
      id="jh-create-entity-custom-goal"
      data-cy="entityCreateButton"
      (click)="updateSelectedValue('Value4')"
      [routerLink]="['/custom-goal/new']"
    >
      Custom goal
    </button>
  </div>
</div>

<div>
  <h2>Sleeping goal(s)</h2>
  <h2 id="page-heading" data-cy="CustomGoalHeading">
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <div class="alert alert-warning" id="no-result" *ngIf="customGoals?.length === 0">
    <span>No Custom Goals found</span>
  </div>
  <div class="container d-flex flex-wrap" *ngIf="customGoals && customGoals.length > 0">
    <div
      class="card custom-rounded1 mx-2 mb-2"
      *ngFor="let customGoal of differentGoalsService.customGoalsValue1; trackBy: trackId"
      data-cy="entityTable"
    >
      <div class="card-body">
        <h5 class="card-title">{{ customGoal.name }}</h5>
        <p class="card-text">{{ customGoal.description }}</p>

        <a [routerLink]="['/custom-goal', customGoal.id, 'view']" class="btn custom-button-class1">View</a>
        <a [routerLink]="['/custom-goal', customGoal.id, 'edit']" (click)="updateSelectedValue('Value1')" class="btn custom-button-class2"
          >Edit</a
        >
        <button (click)="delete(customGoal)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <h2>Calorie intake goal(s)</h2>
  <h2 id="page-heading2" data-cy="CustomGoalHeading">
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>
    </div>
  </h2>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <div class="alert alert-warning" id="no-result2" *ngIf="customGoals?.length === 0">
    <span>No Custom Goals found</span>
  </div>
  <div class="container d-flex flex-wrap" *ngIf="customGoals && customGoals.length > 0">
    <div
      class="card custom-rounded1 mx-2 mb-2"
      *ngFor="let customGoal of differentGoalsService.customGoalsValue2; trackBy: trackId"
      data-cy="entityTable"
    >
      <div class="card-body">
        <h5 class="card-title">{{ customGoal.name }}</h5>
        <p class="card-text">{{ customGoal.description }}</p>

        <a [routerLink]="['/custom-goal', customGoal.id, 'view']" class="btn custom-button-class1">View</a>
        <a [routerLink]="['/custom-goal', customGoal.id, 'edit']" (click)="updateSelectedValue('Value2')" class="btn custom-button-class2"
          >Edit</a
        >
        <button (click)="delete(customGoal)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <h2>Mood</h2>
  <h2 id="page-heading3" data-cy="CustomGoalHeading">
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>
    </div>
  </h2>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <div class="alert alert-warning" id="no-result3" *ngIf="customGoals?.length === 0">
    <span>No Custom Goals found</span>
  </div>
  <div class="container d-flex flex-wrap" *ngIf="customGoals && customGoals.length > 0">
    <div
      class="card custom-rounded1 mx-2 mb-2"
      *ngFor="let customGoal of differentGoalsService.customGoalsValue3; trackBy: trackId"
      data-cy="entityTable"
    >
      <div class="card-body">
        <h5 class="card-title">{{ customGoal.name }}</h5>
        <p class="card-text">{{ customGoal.description }}</p>

        <a [routerLink]="['/custom-goal', customGoal.id, 'view']" class="btn custom-button-class1">View</a>
        <a [routerLink]="['/custom-goal', customGoal.id, 'edit']" (click)="updateSelectedValue('Value3')" class="btn custom-button-class2"
          >Edit</a
        >
        <button (click)="delete(customGoal)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <h2>Custom goal(s)</h2>
  <h2 id="page-heading4" data-cy="CustomGoalHeading">
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>
    </div>
  </h2>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <div class="alert alert-warning" id="no-result4" *ngIf="customGoals?.length === 0">
    <span>No Custom Goals found</span>
  </div>
  <div class="container d-flex flex-wrap" *ngIf="customGoals && customGoals.length > 0">
    <div
      class="card custom-rounded1 mx-2 mb-2"
      *ngFor="let customGoal of differentGoalsService.customGoalsValue4; trackBy: trackId"
      data-cy="entityTable"
    >
      <div class="card-body">
        <h5 class="card-title">{{ customGoal.name }}</h5>
        <p class="card-text">{{ customGoal.description }}</p>

        <a [routerLink]="['/custom-goal', customGoal.id, 'view']" class="btn custom-button-class1">View</a>
        <a [routerLink]="['/custom-goal', customGoal.id, 'edit']" (click)="updateSelectedValue('Value4')" class="btn custom-button-class2"
          >Edit</a
        >
        <button (click)="delete(customGoal)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
