.footer p {
  color: white;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background: black;
}

.social-share {
  margin-top: 10px;
}

.social-share a {
  margin: 0 10px;
}

.social-share img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
