.footer p {
  color: white;
}

.footer {
  margin-top: auto; /* Pushes the footer to the bottom */
  text-align: center;
  padding: 15px 0; /* Adjust the padding as needed */
  background: black; /* Background color for the footer */
}
.social-share {
  margin-top: 10px;
}

.social-share a {
  margin: 0 10px;
}

.social-share img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
