.footer p {
  color: white;
}

.footer {
  margin-top: auto; /* Pushes the footer to the bottom */
  text-align: center;
  padding: 15px 0; /* Adjust the padding as needed */
  background: black; /* Background color for the footer */
}
