<div class="parent-container">
  <div class="medicine-container">
    <div class="d-flex justify-content-center">
      <div class="col-8">
        <div *ngIf="medicine">
          <div class="title-container">
            <h1>
              <span>{{ medicine.name }}</span>
            </h1>
          </div>

          <hr />

          <jhi-alert-error></jhi-alert-error>

          <jhi-alert></jhi-alert>

          <dl class="row-md jh-entity-details info-items">
            <dt><span>Date</span></dt>
            <dd>
              <span>{{ medicine.date | formatMediumDate }}</span>
            </dd>
            <dt><span>Name</span></dt>
            <dd>
              <span>{{ medicine.name }}</span>
            </dd>
            <dt><span>Description</span></dt>
            <dd>
              <span>{{ medicine.description }}</span>
            </dd>
            <dt><span>Subjective Effect</span></dt>
            <dd>
              <span>{{ medicine.subjectiveEffect }}</span>
            </dd>
          </dl>

          <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
          </button>

          <button type="button" [routerLink]="['/medicine', medicine.id, 'edit']" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
