<div class="page">
  <h2 id="page-heading" data-cy="DashboardHeading">
    <div class="dashboard-container">
      <div class="metric sleep-data">
        <h2>Sleep Data</h2>
        <p>Total Hours: {{ userMetrics.sleepData.totalHours }}</p>
        <p>Sleep Quality: {{ userMetrics.sleepData.sleepQuality }}</p>
        <canvas id="sleep-chart"></canvas>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-outline-secondary dashboard-btn" routerLink="/sleep-record">
            Track Sleep <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="metric dietary-data">
        <h2>Dietary Data</h2>
        <p>Calories Consumed: {{ userMetrics.dietaryData.caloriesConsumed }}</p>
        <p>Calories Goal: {{ userMetrics.dietaryData.caloriesGoal }}</p>
        <canvas id="calorie-chart"></canvas>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-outline-secondary dashboard-btn" routerLink="/energy-intake-result">
            Track Diet <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="metric workout-data">
        <h2>Workout Data</h2>
        <p>Activities Completed: {{ userMetrics.workoutData.activitiesCompleted }}</p>
        <p>Goal Activities: {{ userMetrics.workoutData.goalActivities }}</p>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-outline-secondary dashboard-btn" routerLink="/workout">
            Track Workouts <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="metric mental-health-data">
        <h2>Mental Health Data</h2>
        <p>Mood: {{ userMetrics.mentalHealthData.mood }}</p>
        <p>Stress Level: {{ userMetrics.mentalHealthData.stressLevel }}</p>
        <canvas id="mood-chart"></canvas>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-outline-secondary dashboard-btn" routerLink="/mood-tracker">
            Track Mood <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="metric goal-tracking-data">
        <h2>Goal Tracking</h2>
        <p>Goals Set: {{ userMetrics.goalTrackingData.goalsSet }}</p>
        <p>Goals Achieved: {{ userMetrics.goalTrackingData.goalsAchieved }}</p>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-outline-secondary dashboard-btn" routerLink="/custom-goal">
            Track Goals <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="metric medication-data">
        <h2>Medication</h2>
        <p>Supplements Taken Today: {{ userMetrics.medicationData.supplementsTaken }}</p>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-outline-secondary dashboard-btn" routerLink="/medicine">
            Track Supplements<i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dashboard"
        [routerLink]="['/dashboard/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Dashboard </span>
      </button>
    </div> -->
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning warning-box" id="no-result" *ngIf="dashboards?.length === 0">
    <span>No Dashboards found</span>
  </div>
  <!-- 
  <div class="table-responsive table-entities" id="entities" *ngIf="dashboards && dashboards.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="overview">
            <div class="d-flex">
              <span>Overview</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dashboard of dashboards; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dashboard', dashboard.id, 'view']">{{ dashboard.id }}</a>
          </td>
          <td>{{ dashboard.overview }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dashboard', dashboard.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dashboard', dashboard.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(dashboard)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>
