<div>
  <div class="container text-center">
    <h1 class="standard-text">Sleeping Time!</h1>
    <div class="button-group">
      <div *ngIf="play">
        <button class="btn btn-play" (click)="startRecording()">
          <i class="fa"
            ><svg version="1.1" viewBox="0 0 512 512" height="500" width="500" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="255.77" cy="256.2" rx="256.31" ry="255.94" style="fill-rule: evenodd; fill: #099" />
              <path
                transform="matrix(1.0793 0 0 1.0745 -28.476 -12.959)"
                d="m149.33 418.72 0.3782-170.61 0.3782-170.61 295.12 171.26-147.94 84.976z"
                style="fill: #e6e6e6"
              />
            </svg>
          </i>
        </button>
      </div>
      <div *ngIf="!play">
        <button class="btn btn-stop" (click)="stopRecording()">
          <i class="fa">
            <svg version="1.1" viewBox="0 0 512 512" height="500" width="500" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="255.77" cy="256.2" rx="256.31" ry="255.94" style="fill-rule: evenodd; fill: #099" />
              <rect x="89.851" y="89.708" width="330.97" height="333.58" style="fill: #e6e6e6; stroke-width: 1.3439" /></svg
          ></i>
        </button>
        <h2 class="standard-subtitle-text">Sleep duration</h2>
        <br />
        <div class="timer standard-subtitle-text">{{ timeing }}</div>
      </div>
    </div>
  </div>
  <h2 id="page-heading" data-cy="SleepRecordHeading">
    <span class="standard-text">Sleep Records</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning warning-box" id="no-result" *ngIf="sleepRecords?.length === 0">
    <span>No Sleep Records found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="sleepRecords && sleepRecords.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="startTime">
            <div class="d-flex">
              <span>Start Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endTime">
            <div class="d-flex">
              <span>End Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rating">
            <div class="d-flex">
              <span>Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sleepRecord of sleepRecords; trackBy: trackId" data-cy="entityTable">
          <td>{{ sleepRecord.startTime | formatMediumDatetime }}</td>
          <td>{{ sleepRecord.endTime | formatMediumDatetime }}</td>
          <td>{{ sleepRecord.rating }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
