<div>
  <div class="container text-center">
    <h1>Sleeping Time!</h1>
    <p>Press "play" button to start recording sleeping time. Press "Stop" button to end recording.</p>

    <div class="button-group">
      <button class="btn btn-play">
        <i class="fa fa-play"></i>
      </button>
      <button class="btn btn-stop">
        <i class="fa fa-stop"></i>
      </button>
    </div>

    <h2>Your sleeping time history</h2>
    <div class="history-container">
      <div class="history-entry" *ngFor="let time of sleepTimes">
        <span>{{ time.start }} - {{ time.end }}</span>
      </div>
    </div>
  </div>

  <h2 id="page-heading" data-cy="SleepRecordHeading">
    <span>Sleep Records</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sleep-record"
        [routerLink]="['/sleep-record/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Sleep Record </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sleepRecords?.length === 0">
    <span>No Sleep Records found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="sleepRecords && sleepRecords.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startTime">
            <div class="d-flex">
              <span>Start Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endTime">
            <div class="d-flex">
              <span>End Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rating">
            <div class="d-flex">
              <span>Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userProfile.id">
            <div class="d-flex">
              <span>User Profile</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sleepRecord of sleepRecords; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sleep-record', sleepRecord.id, 'view']">{{ sleepRecord.id }}</a>
          </td>
          <td>{{ sleepRecord.startTime | formatMediumDatetime }}</td>
          <td>{{ sleepRecord.endTime | formatMediumDatetime }}</td>
          <td>{{ sleepRecord.rating }}</td>
          <td>
            <div *ngIf="sleepRecord.userProfile">
              <a [routerLink]="['/user-profile', sleepRecord.userProfile.id, 'view']">{{ sleepRecord.userProfile.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sleep-record', sleepRecord.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sleep-record', sleepRecord.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(sleepRecord)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
