<div>
  <div class="about">
    <h1>About Us</h1>
    <p style="text-align: center; font-size: 33px">The Team 52 Privacy Policy</p>
    <p class="lead">
      The members in Team 52 are part of the second year students in the School of Computing at the University of Birmingham. This privacy
      policy will explain how our team uses the personal data we collect from you when you use our website.
    </p>
    <p class="top">Topics</p>
    <div class="topic">
      <p>• What data do we collect?</p>
      <p>• How do we collect your data?</p>
      <p>• How will we use your data?</p>
      <p>• How do we store your data?</p>
      <p>• What are your data protection rights?</p>
      <p>• What are cookies?</p>
      <p>• How do we use cookies?</p>
      <p>• What types of cookies do we use?</p>
      <p>• How to manage your cookies</p>
      <p>• Changes to our privacy policy</p>
      <p>• How to contact us</p>
    </div>

    <p class="top">What data do we collect?</p>

    <p class="lead">Our Team collects the following data:</p>

    <div class="topic">
      <p>• Personal identification information (Name, email address, phone number, etc.)</p>
      <p>• Your daily diet information (Food and drink)</p>
      <p>• Your mental health information (Mood and stress level)</p>
      <p>• Your sleeping time information</p>
      <p>• Your Fitness Information (Fitness goals)</p>
    </div>

    <p class="top">How do we collect your data?</p>

    <p class="lead">You directly provide Our Team with most of the data we collect. We collect data and process data when you:</p>

    <div class="topic">
      <p>• Register online.</p>
      <p>• Use or view our website via your browser's cookies.</p>
    </div>

    <p class="top">How will we use your data?</p>

    <p class="lead">Our Team collects your data so that we can:</p>

    <div class="topic">
      <p>• Manage your account.</p>
      <p>• Give you some suggestion about fitness, mental health, sleep health and so forth</p>
      <p>• Calculate calories intake per meal</p>
    </div>

    <p class="top">How do we store your data?</p>

    <p class="lead">Our Team securely stores your data at Amazon Web Services which is in London.</p>

    <p class="lead">We have implemented a set of security measures to protect your data, including:</p>

    <p class="topic">Data encryption: All sensitive data is encrypted both at rest and in transit to prevent unauthorized access.</p>
    <p class="topic">
      Access control: We employ strict access control mechanisms to ensure that only authorized person have access to the data.
    </p>
    <p class="topic">Firewalls: We have implemented robust firewall systems to protect against illegal request.</p>
    <p class="topic">Security auditing: Regular security audits are conducted to identify and address any bugs in our systems.</p>
    <p class="topic">Backup strategy: We maintain regular backups of the data</p>

    <p class="lead">
      Our Team will keep your Personal identification information, Your daily diet information, Your mental health information, Your
      sleeping time information and Your Fitness Information until 24/04/2024. Once this time period has expired, we will delete your data
      by bulk deletion.
    </p>

    <p class="top">What are your data protection rights?</p>

    <p class="lead">
      Our Team would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
    </p>

    <div class="topic">
      <p>
        • The right to access - You have the right to request Our Team for copies of your personal data. We may charge you a small fee for
        this service
      </p>
      <p>
        • The right to rectification - You have the right to request that Our Team correct any information you believe is inaccurate. You
        also have the right to request Our Team to complete information you believe is incomplete.
      </p>
      <p>• The right to erasure — You have the right to request that Our Team erase your personal data, under certain conditions.</p>

      <p>
        • The right to restrict processing - You have the right to request that Our Team restrict the processing of your personal data,
        under certain conditions.
      </p>

      <p>
        • The right to object to processing - You have the right to object to Our Team's processing of your personal data, under certain
        conditions.
      </p>

      <p>
        • The right to data portability - You have the right to request that Our Team transfer the data that we have collected to another
        organization, or directly to you, under certain conditions.
      </p>

      <p>
        • If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us
        at our email:yxj118@student.bham.ac.uk
      </p>
    </div>

    <p class="top">What are cookies?</p>

    <p class="lead">
      Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you
      visit our websites, we may collect information from you automatically through cookies or similar technology.
    </p>

    <p class="top">How do we use cookies?</p>

    <p class="lead">Our Team uses cookies in a range of ways to improve your experience on our website, including:</p>

    <p class="topic">• Keeping you signed in</p>

    <p class="topic">• Understanding how you use our website</p>

    <p class="top">What types of cookies do we use?</p>

    <p class="lead">There are a number of different types of cookies, however, our website uses:</p>

    <p class="topic">
      • Functionality — Our Team uses these cookies so that we recognize you on our website and remember your previously selected
      preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are
      used.
    </p>

    <p class="top">How to manage cookies</p>

    <p class="lead">
      You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a
      few cases, some of our website features may not function as a result.
    </p>

    <p class="top">Changes to our privacy</p>

    <p class="lead">
      Our Team keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated
      on 07/03/2024.
    </p>

    <p class="top">How to contact us</p>

    <p class="lead">
      If you have any questions about Our Team's privacy policy, the data we hold on you, or you would like to exercise one of your data
      protection rights, please do not hesitate to contact us. Email us at:yxj118@student.bham.ac.uk
    </p>
  </div>
</div>
