<jhi-page-ribbon></jhi-page-ribbon>

<div>
  <router-outlet name="navbar"></router-outlet>
  <app-sectionbar></app-sectionbar>
</div>

<div class="container-fluid">
  <div class="area">
    <div class="content">
      <div class="card jh-card">
        <router-outlet></router-outlet>
      </div>
    </div>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <app-cookie-popup> </app-cookie-popup>
  </div>
  <jhi-footer></jhi-footer>
</div>
