<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" *ngIf="getSelectedValue() === 'Value1'" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sleeping-goal-heading" data-cy="CustomGoalCreateUpdateHeading">Create or edit a sleeping time goal</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="sleep_id">ID</label>
          <input type="number" class="form-control" name="id" id="sleep_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>

          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />

          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
          </div>
        </div>
        <div class="row mb-3">
          <label class="form-label" for="field_name">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="filed_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_userProfile">User Profile</label>
          <select
            class="form-control"
            id="field_userProfile"
            data-cy="userProfile"
            name="userProfile"
            formControlName="userProfile"
            [compareWith]="compareUserProfile"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userProfileOption" *ngFor="let userProfileOption of userProfilesSharedCollection">
              {{ userProfileOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
    <form name="editForm" role="form" *ngIf="getSelectedValue() === 'Value2'" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-diet-goal-heading" data-cy="CustomGoalCreateUpdateHeading">Create or edit a calorie intake goal for a day</h2>

      <jhi-alert-error></jhi-alert-error>

      <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
        <label class="form-label" for="diet_id">ID</label>
        <input type="number" class="form-control" name="id" id="diet_id" data-cy="id" formControlName="id" [readonly]="true" />
      </div>
      <div class="row mb-3">
        <label class="form-label" for="field_name">Name</label>
        <input type="text" class="form-control" name="description" id="calorie_name" data-cy="name" formControlName="name" />
        <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
        </div>
        <label class="form-label" for="field_name">description</label>
        <input
          type="text"
          class="form-control"
          name="description"
          id="calorie_description"
          data-cy="description"
          formControlName="description"
        />
        <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.required"> This field is required. </small>
        </div>
      </div>
      <div>
        <button type="button" id="cancel-save-diet" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity-diet"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>

    <form name="editForm" role="form" *ngIf="getSelectedValue() === 'Value3'" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-mood-goal-heading" data-cy="CustomGoalCreateUpdateHeading">Create or edit a mood goal</h2>

      <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
        <label class="form-label" for="field_id">ID</label>
        <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
      </div>

      <div class="row mb-3">
        <label class="form-label" for="field_name">name</label>
        <input type="text" class="form-control" name="name" id="mood_name" data-cy="name" formControlName="name" />
        <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label" for="mood_description">Mood</label>
        <input
          type="text"
          class="form-control"
          name="description"
          id="mood_description"
          data-cy="description"
          formControlName="description"
        />
        <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save-mood" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity-mood"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
    <form name="editForm" role="form" *ngIf="getSelectedValue() === 'Value4'" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-custom-goal-heading" data-cy="CustomGoalCreateUpdateHeading">Create or edit custom goal</h2>
      <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
        <label class="form-label" for="sleep_id">ID</label>
        <input type="number" class="form-control" name="id" id="custom-goal_id" data-cy="id" formControlName="id" [readonly]="true" />
      </div>

      <div class="row mb-3">
        <label class="form-label" for="field_name">Name</label>
        <input type="text" class="form-control" name="name" id="custom_name" data-cy="name" formControlName="name" />
        <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
        </div>
      </div>
      <div class="row mb-3">
        <label class="form-label" for="field_name">Description</label>
        <input
          type="text"
          class="form-control"
          name="description"
          id="custom_description"
          data-cy="description"
          formControlName="description"
        />
        <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.required"> This field is required. </small>
        </div>
      </div>
      <div>
        <button
          type="button"
          id="cancel-custom-goal"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-custom-goal"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
