@import '@fortawesome/fontawesome-free/css/all.css';

.medication-container {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 600px;
}

.category h3 {
  text-align: center;
}

.category ul {
  list-style: none;
  padding: 0;
}

.category:not(:last-child) {
  border-right: 1px solid #333;
}

.category li {
  padding: 5px 10px;
  text-align: center;
}

.category .add-item {
  background-color: #e0e0e0;
  cursor: pointer;
  font-size: 24px;
}

input[type='text'] {
  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  text-align: center;
}

input[type='text']:focus {
  outline: none;
}

.btn-outline-secondary {
  color: #000;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.supplements {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 16px;
}
.next-page-btn {
  background-color: #fff;
  margin-top: 24px;
}

/* Adjust padding and font size as needed */
.btn {
  padding: 5px 15px;
  font-size: 16px;
}

/* Custom style for the icon to align with your design */
.fa-arrow-right {
  margin-left: 5px; /* space between text and icon */
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make the button full width to center it in the container */
  margin-top: 10px; /* Optional: add some space above the button */
}

.category ul {
  list-style-type: none;
}

.list-item {
  position: relative;
  padding: 10px;
  overflow: hidden;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 200px;
}

.supplement-name {
  z-index: 1;
  font-weight: bold;
}

.supplement-date {
  z-index: 1;
}
.supplement-description {
  z-index: 1;
}

.action-buttons {
  display: flex;
  z-index: 2;
  // alight horizontally center
  justify-content: center;
}
.action-buttons button:not(:last-child) {
  margin-right: 8px; /* Adjust the pixel value as needed */
}

.green-btn {
  background-color: #28a745;
}

.supplement-item {
  width: 400px;
  height: auto;
}

.title {
  padding: 8px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px #000000;
  white-space: nowrap;
  overflow: hidden;
  border-right: 6px solid white; /* Mimics the cursor at the end of the typing */
  animation: typing 4s steps(37, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.interaction-item {
  background-color: #f2f2f2; /* Different background color for distinction */
  color: #333; /* Text color for interaction items */
}

.info {
  display: flex;
  flex-direction: column;
}

.interactions-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent-container {
  /* Replace with the actual parent class or use a relevant selector */
  display: flex;
  justify-content: center; /* Centers child horizontally */
  align-items: center; /* Centers child vertically if you want */
  /* Ensure it takes the full width if it's not already full width */
  width: 100%;
}

.medicine-section {
  padding: 10px;
  width: 1200px;
  background-color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  animation: fadeIn 2s ease-out;
  margin-top: 0px;
}

.supplement-type {
  border-width: 0px;
  border-color: red;
}

.prescription-type {
  border-width: 0px;
  border-color: green;
}

.other-type {
  border-width: 0px;
  border-color: blue;
}

.create-medicine {
  width: 50%;
  border-radius: 16px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.supplement-titles {
  text-align: center;
  align-self: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bold;
}

.list-item .action-buttons {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Show action buttons when hovering over the list item */
.list-item:hover .action-buttons {
  display: block;
  opacity: 1;
}

.submit-day {
  background-color: #28a745;
  color: white;
  border-width: 0px;
  width: 50%;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.button-bar {
  margin-top: 12px;
  height: 50px;
}

.second-section {
  width: '100%';
  background-color: #fff;
  margin-top: 24px;
  padding: 12px;
  border-radius: 16px;
}

.second-section .medicine-section:not(:last-child) {
  border-bottom: 2px solid #ccc; /* Adjust the color and thickness as needed */
}

/* Ensure there's enough space for the border by adjusting padding */
.second-section .medicine-section {
  padding-bottom: 20px; /* Add more padding to the right */
}

/* Filter section styles */
.filter-section {
  margin-bottom: 20px;
}

/* Checkbox container styles */
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

/* Checkbox label styles */
.checkbox-label {
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Checkbox input styles */
.checkbox-label input[type='checkbox'] {
  display: none;
}

/* Checkmark styles */
.checkmark {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  border-radius: 4px;
  margin-right: 8px;
}

/* Checkmark after styles */
.checkmark::after {
  content: '';
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%) rotate(45deg); /* Move to center and rotate */
  width: 5px;
  height: 10px;
  border: solid black; /* Set border color to black */
  border-width: 0 2px 2px 0;
  display: none;
}

/* Checkbox checked styles */
.checkbox-label input[type='checkbox']:checked + .checkmark::after {
  display: block;
}

.search-box {
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  padding: 4px;
  border-radius: 8px;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.subtitle-box {
  display: flex;
  margin-bottom: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.share-section {
  margin-top: 12px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
