@import '@fortawesome/fontawesome-free/css/all.css';

.medication-container {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category h3 {
  text-align: center;
  color: #333;
}

.category ul {
  list-style: none;
  padding: 0;
}

.category li {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
}

.category .add-item {
  background-color: #e0e0e0;
  cursor: pointer;
  font-size: 24px;
}

input[type='text'] {
  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  text-align: center;
}

input[type='text']:focus {
  outline: none;
}

.btn-outline-secondary {
  color: #000;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.next-page-btn {
  background-color: #fff;
  margin-top: 24px;
}

/* Adjust padding and font size as needed */
.btn {
  padding: 5px 15px;
  font-size: 16px;
}

/* Custom style for the icon to align with your design */
.fa-arrow-right {
  margin-left: 5px; /* space between text and icon */
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make the button full width to center it in the container */
  margin-top: 10px; /* Optional: add some space above the button */
}

.category ul {
  list-style-type: none;
}

.list-item {
  position: relative;
  padding: 10px;
  overflow: hidden;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 200px;
}

.supplement-name {
  z-index: 1;
  font-weight: bold;
}

.supplement-date {
  z-index: 1;
  padding-bottom: 12px;
}
.supplement-description {
  z-index: 1;
  padding-bottom: 12px;
}

.action-buttons {
  display: flex;
  z-index: 2;
  // alight horizontally center
  justify-content: center;
}
.action-buttons button:not(:last-child) {
  margin-right: 8px; /* Adjust the pixel value as needed */
}

.green-btn {
  background-color: #28a745;
}

.supplement-item {
  width: 400px;
  height: auto;
}

.title {
  display: inline-block; /* Make span behave like an inline element that can be centered */
  width: auto; /* Auto width based on content */
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 16px;
  width: 50%;
}

.interaction-item {
  background-color: #f2f2f2; /* Different background color for distinction */
  color: #333; /* Text color for interaction items */
  /* Other styles as needed */
}

.info {
  display: flex;
  flex-direction: column;
}

.interactions-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent-container {
  /* Replace with the actual parent class or use a relevant selector */
  display: flex;
  justify-content: center; /* Centers child horizontally */
  align-items: center; /* Centers child vertically if you want */
  /* Ensure it takes the full width if it's not already full width */
  width: 100%;
}

.medicine-section {
  position: relative;
  padding: 10px;
  overflow: hidden;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: '50%';
  height: 240px;
  background-color: #fff;
  border-radius: 16px;
  margin-top: 32px;
  margin-right: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  animation: fadeIn 2s ease-out;
}

.supplement-type {
  border-width: 2px;
  border-color: red;
}

.prescription-type {
  border-width: 2px;
  border-color: green;
}

.other-type {
  border-width: 2px;
  border-color: blue;
}

.create-medicine {
  margin-right: 8px;
}
.supplement-titles {
  text-align: center;
  align-self: center;
}
