<div class="page">
  <div class="page row">
    <div *ngIf="!isSecondPartVisible">
      <h2 id="page-heading" data-cy="MedicineHeading" class="subtitle-box">
        <span class="title">What Supplements did you take today?</span>
      </h2>

      <div class="d-flex justify-content-center supplements">
        <div class="category">
          <h3 class="supplement-titles">Supplements</h3>
          <ul>
            <li *ngFor="let item of todaySupplements; let i = index" class="list-item supplement-item supplement-type">
              <div class="info">
                <span class="supplement-name">{{ item.name }}</span>
                <span class="supplement-date">{{ item.date }}</span>
                <span class="supplement-description">{{ item.description }}</span>
              </div>

              <div class="action-buttons">
                <button type="button" class="green-btn btn btn-info btn-sm" [routerLink]="['/medicine', item.id, 'view']">
                  <fa-icon icon="eye"></fa-icon> View
                </button>
                <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/medicine', item.id, 'edit']">
                  <fa-icon icon="pencil"></fa-icon> Edit
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="delete(item)"><fa-icon icon="times"></fa-icon> Delete</button>
              </div>
            </li>
          </ul>
          <div *ngIf="todaySupplements.length === 0" class="no-items">
            <span>No supplements taken today</span>
          </div>
        </div>

        <div class="category">
          <h3 class="supplement-titles">Prescriptions</h3>
          <ul>
            <li *ngFor="let item of todayPrescriptions; let i = index" class="list-item supplement-item prescription-type">
              <div class="info">
                <span class="supplement-name">{{ item.name }}</span>
                <span class="supplement-date">{{ item.date }}</span>
                <span class="supplement-description">{{ item.description }}</span>
              </div>
              <div class="action-buttons">
                <button type="button" class="green-btn btn btn-info btn-sm" [routerLink]="['/medicine', item.id, 'view']">
                  <fa-icon icon="eye"></fa-icon> View
                </button>
                <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/medicine', item.id, 'edit']">
                  <fa-icon icon="pencil"></fa-icon> Edit
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="delete(item)"><fa-icon icon="times"></fa-icon> Delete</button>
              </div>
            </li>
          </ul>
          <div *ngIf="todayPrescriptions.length === 0" class="no-items">
            <span>No prescriptions taken today</span>
          </div>
        </div>

        <!-- Other Items Section -->
        <div class="category">
          <h3 class="supplement-titles">Other Items</h3>
          <ul>
            <li *ngFor="let item of todayOtherItems; let i = index" class="list-item supplement-item other-type">
              <div class="info">
                <span class="supplement-name">{{ item.name }}</span>
                <span class="supplement-date">{{ item.date }}</span>
                <span class="supplement-description">{{ item.description }}</span>
              </div>

              <div class="action-buttons">
                <button type="button" class="green-btn btn btn-info btn-sm" [routerLink]="['/medicine', item.id, 'view']">
                  <fa-icon icon="eye"></fa-icon> View
                </button>
                <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/medicine', item.id, 'edit']">
                  <fa-icon icon="pencil"></fa-icon> Edit
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="delete(item)"><fa-icon icon="times"></fa-icon> Delete</button>
              </div>
            </li>
          </ul>
          <div *ngIf="todayOtherItems.length === 0" class="no-items">
            <span>No other items taken today</span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center button-bar">
        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-medicine"
          [routerLink]="['/medicine/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Create a new Medicine </span>
        </button>
        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity submit-day"
          (click)="showSecondPart()"
        >
          <fa-icon icon="check"></fa-icon>
          <span>Submit Day</span>
        </button>
      </div>
    </div>
    <div *ngIf="isSecondPartVisible" class="fadeIn">
      <div class="container">
        <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity" (click)="showFirstPart()">
          <fa-icon icon="check"></fa-icon>
          <span>Edit Today</span>
        </button>
        <div class="second-section">
          <div class="medicine-section">
            <h3 class="interactions-title">Tracking Supplement Type</h3>
            <div class="filters">
              <label *ngFor="let filter of filters; let i = index">
                <input type="checkbox" [(ngModel)]="filter.checked" (change)="updateVisibleItems()" [id]="filter.id" />
                {{ filter.name }}
              </label>
            </div>
            <div>
              <canvas #lineChart id="overall-chart"></canvas>
            </div>
          </div>

          <div class="medicine-section">
            <h3 class="interactions-title">Tracking Specific Supplements</h3>
            <div>
              <input
                type="text"
                [(ngModel)]="searchTerm"
                (input)="filterData()"
                placeholder="Search specific supplements"
                class="form-control"
              />
            </div>

            <div>
              <canvas #lineChart id="specific-chart"></canvas>
            </div>
          </div>
          <div class="share-section">
            Share your progress with your doctor
            <div class="social-icons">
              Facebook
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.jhipster.tech" target="_blank">
                <fa-icon icon="facebook"></fa-icon>
              </a>
              Twitter
              <a href="https://twitter.com/intent/tweet?url=https://www.jhipster.tech" target="_blank">
                <fa-icon icon="twitter"></fa-icon>
              </a>
              LinkedIn
              <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.jhipster.tech" target="_blank">
                <fa-icon icon="linkedin"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-secondary next-page-btn" routerLink="/mood-tracker">
          Track Mental Health <i class="fa fa-arrow-right"></i>
        </button>
      </div>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
    </div>
  </div>
</div>
