<div>
  <h2 class="container text-center">Here are some recommendation to make you more healthier than before</h2>
  <div class="card">
    <p>
      1.Eat some Strawberries. They are highly nutritious and low in both carbs and calories. What more, They provide vitamin C, fiber, and
      manganese and make a delicious dessert.
    </p>
    <p>
      2.Eat some Macadamia nuts. They are tasty and higher in monounsaturated fats and lower in omega-6 fatty acids than most other nuts.
    </p>
    <p>
      3. Cucumbers make a refreshing snack. They are low in both carbs and calories, consisting mostly of water. They also contain small
      amounts of vitamin K and other nutrients.
    </p>
    <p>4. Get some Shrimp. It tends to be low in fat and calories but high in protein. It also provides selenium and vitamin B12.</p>
    <p>
      5. Eat less junk food In the long-term, eating junk food can lead to: type 2 diabetes. heart-related problems (such as cardiovascular
      disease, high blood pressure and cholesterol) overweight and obesity.
    </p>
  </div>
</div>
