.cookie {
  background-color: #ffd700;
  width: 40ex;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  padding: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
}
.button {
  background-color: #ffd700;
  border-radius: 5px;
}
