@import '@fortawesome/fontawesome-free/css/all.css';

.button {
  margin-bottom: 30px;
}

.food-container {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category h3 {
  text-align: center;
  color: #333;
}

.btn {
  padding: 5px 15px;
  font-size: 16px;
}

.title {
  display: block;
  text-align: center;
}

.fake-td {
  width: 20%;
}
.fake-tr {
  margin-top: 0.5rem;
}
.table-div {
  display: flex;
  // justify-content: center;
}
.flex {
  display: flex;
}
.table-card {
  min-width: 200px;
  // height: 100px;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  margin-right: 0.5rem;
}
.table-btn {
  margin-top: 1rem;
  justify-content: space-around;
}
.edge-layout {
  display: flex;
  justify-content: space-between;
}
