.custom-navbar {
  background-color: rgba(255, 255, 255, 0.3); /* Background color with opacity */
  padding: 0.5em 0; /* Padding around the navbar */
  width: fit-content;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 55px;
  border-radius: 12px;
}

.custom-navbar ul {
  list-style: none; /* Removes bullet points from the list */
  display: flex; /* Display list items in a row */
  justify-content: center; /* Center list items horizontally */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.custom-navbar li {
  margin: 0 1em; /* Margin between list items */
}

.custom-navbar a {
  text-decoration: none; /* Removes underline from links */
  color: white; /* Sets the text color */
  font-weight: bold; /* Makes the font bold */
  //add a shadow to the text
  text-shadow: 2px 2px 4px #000000;
}

.custom-navbar a.active,
.custom-navbar a:hover {
  color: #ccc; /* Changes the text color on hover */
}
