<nav class="custom-navbar">
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/sleep" routerLinkActive="active">Sleep</a></li>
    <li><a routerLink="/diet" routerLinkActive="active">Diet</a></li>
    <li><a routerLink="/supplements" routerLinkActive="active">Supplements</a></li>
    <li><a routerLink="/mental-health" routerLinkActive="active">Mental Health</a></li>
    <li><a routerLink="/goals" routerLinkActive="active">Goals</a></li>
    <li><a routerLink="/workouts" routerLinkActive="active">Workouts</a></li>
  </ul>
</nav>
