<nav class="custom-navbar" *ngIf="account">
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/sleep-record" routerLinkActive="active">Sleep</a></li>
    <li><a routerLink="/energy-intake-result" routerLinkActive="active">Diet</a></li>
    <li><a routerLink="/medicine" routerLinkActive="active">Supplements</a></li>
    <li><a routerLink="/mood-tracker" routerLinkActive="active">Mental Health</a></li>
    <li><a routerLink="/custom-goal" routerLinkActive="active">Goals</a></li>
    <li><a routerLink="/workout" routerLinkActive="active">Workouts</a></li>
  </ul>
</nav>
