<nav class="custom-navbar" *ngIf="account">
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/sleep-record" routerLinkActive="active">Sleep</a></li>
    <li><a routerLink="/diet" routerLinkActive="active">Diet</a></li>
    <li><a routerLink="/medicine" routerLinkActive="active">Supplements</a></li>
    <li><a routerLink="/mindfulness-practice" routerLinkActive="active">Mental Health</a></li>
    <li><a routerLink="/custom-goal" routerLinkActive="active">Goals</a></li>
    <li><a routerLink="/workout" routerLinkActive="active">Workouts</a></li>
    <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
  </ul>
</nav>
