/* ==========================================================================
Main page styles
========================================================================== */
// set the background color for the whole page

.home {
  background-color: #fdf7df;
}
.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}

.custom-navbar {
  background-color: #ffd700; /* Gold background */
  padding: 0.5em 0; /* Padding around the navbar */
  border: 3px solid #000000; /* Gold border */
}

.custom-navbar ul {
  list-style: none; /* Removes bullet points from the list */
  display: flex; /* Display list items in a row */
  justify-content: center; /* Center list items horizontally */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.custom-navbar li {
  margin: 0 1em; /* Margin between list items */
}

.custom-navbar a {
  text-decoration: none; /* Removes underline from links */
  color: maroon; /* Sets the text color */
  font-weight: bold; /* Makes the font bold */
}

.custom-navbar a.active,
.custom-navbar a:hover {
  border-bottom: 2px solid maroon; /* Underline effect for active/hover state */
}
