/* ==========================================================================
Main page styles
========================================================================== */
// set the background color for the whole page

.home {
  // center all the content
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // set the font color
  align-self: center;
}
.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}

.title {
  margin-top: 12px;
  font-size: 4em;
  color: #000000;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.alerts-container {
  display: flex;
  justify-content: center; /* This will place the two items apart if there's space */
  align-items: center; /* This will vertically align items if they are not of equal height */
}
.home-title {
  font-size: 64px;
  font-weight: bold;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px #000000;
}
.home-subtitle {
  font-size: 48px;
  font-weight: bold;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

.home-box {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 12px;
  margin-top: 12px;
}

.login-box {
  border-radius: 16px;
  padding: 16px;
}

.register-box {
  border-radius: 16px;
}

.btn-text {
  // remove the underline from the link
  text-decoration: none;
}
