<div class="home">
  <div class="col-md-9">
    <h1 class="display-4 title"><span>Welcome to Health Hive!</span></h1>

    <p class="lead">
      This is your Comprehensive Wellness Companion! HealthHive is your go-to web-based health and wellness application, meticulously
      crafted to simplify your journey towards optimal well-being. Our platform integrates essential aspects of health management — Sleep,
      Diet, Workouts, and Mental Health — into one seamless and user-friendly experience.
    </p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Already have an account? </span>
        <a class="alert-link" (click)="login()">Log in here!</a>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Register a new account</a>
      </div>
    </div>

    <p class="lead">Here is what Health Hive has to offer:</p>
    <ul class="lead">
      <li>Sleep Tracker: Monitor your sleep cycles, quality, and duration to optimize your rest and recovery process.</li>
      <li>
        Dietary Log: Keep track of your meals, caloric intake, and nutritional content, aligning your eating habits with your health goals
        effortlessly.
      </li>
      <li>Workout Planner: Personalized workout suggestions and tracking to keep you on the path to fitness success.</li>
      <li>
        Mental Health Monitor: Prioritize your mental well-being with tools to track mood patterns, stress levels, and mindfulness
        practices. Select how you're feeling and monitor your progress.
      </li>
      <li>
        Goal Setting and Target Tracker: Set specific targets, whether academic, financial, or personal, and track your progress towards
        them.
      </li>
      <li>Medication and Supplement Tracker: Keep track of your medication and supplement intake, ensuring you never miss a dose.</li>
    </ul>
  </div>
</div>
