<div class="area home page">
  <div class="col-md-9">
    <h1 class="home-title"><span>Health Hive</span></h1>
    <h1 class="home-subtitle"><span>Achieve More.</span></h1>

    <div class="fade-in">
      <p class="lead">Your all-in-one web-based platform for managing sleep, diet, workouts, and mental health seamlessly.</p>

      <div [ngSwitch]="account !== null">
        <div class="alerts-container btn-bar">
          <div class="alert alert-warning warning-box login-box" *ngSwitchCase="false" style="margin-right: 12px">
            <a class="alert-link btn-text" (click)="login()">Login</a>
          </div>

          <div class="alert alert-warning warning-box register-box" *ngSwitchCase="false">
            <a class="alert-link btn-text" routerLink="/account/register">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
