<div>
  <div class="dashboard-container">
    <div class="mood-patterns">
      <h2>Mood Patterns</h2>
      <p>How are you feeling today?</p>
      <div class="mood-buttons">
        <!-- Replace with dynamic generation and event handling -->
        <button class="mood-button">😐</button>
        <button class="mood-button">😔</button>
        <button class="mood-button">😊</button>
      </div>
      <div class="mood-chart">
        <!-- Placeholder for mood chart -->
        <p>Bar Chart - Mood</p>
      </div>
    </div>

    <div class="stress-level">
      <h2>Stress level</h2>
      <p>What is your stress level now?</p>
      <!-- Placeholder for stress level slider -->
      <input type="range" min="1" max="10" value="6" />
      <div class="stress-chart">
        <!-- Placeholder for stress chart -->
        <p>Stress level since the last 6 recording</p>
      </div>
    </div>

    <div class="mindfulness-practice">
      <h2>Mindfulness Practice</h2>
      <p>
        Take a moment to centre your thoughts with a guided mindfulness exercise. Reducing stress and improving focus can help enhance your
        overall mental well being.
      </p>
      <div class="mindfulness-buttons">
        <!-- Replace with dynamic generation and event handling -->
        <button class="mindfulness-button">Guided meditation</button>
        <button class="mindfulness-button">Breathing Exercises</button>
        <button class="mindfulness-button">Mindfulness Tips</button>
      </div>
    </div>

    <div class="progress-tracker">
      <h2>Progress Tacker</h2>
      <!-- Placeholder for progress tracker -->
      <p>Your progress tracker content goes here</p>
    </div>
  </div>

  <h2 id="page-heading" data-cy="MoodTrackerHeading">
    <span>Mood Tracker</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mood-tracker"
        [routerLink]="['/mood-tracker/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Mood Tracker </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="moodTrackers?.length === 0">
    <span>No Mood Trackers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="moodTrackers && moodTrackers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span>Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mood">
            <div class="d-flex">
              <span>Mood</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="note">
            <div class="d-flex">
              <span>Note</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userProfile.id">
            <div class="d-flex">
              <span>User Profile</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let moodTracker of moodTrackers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mood-tracker', moodTracker.id, 'view']">{{ moodTracker.id }}</a>
          </td>
          <td>{{ moodTracker.date | formatMediumDate }}</td>
          <td>{{ moodTracker.mood }}</td>
          <td>{{ moodTracker.note }}</td>
          <td>
            <div *ngIf="moodTracker.userProfile">
              <a [routerLink]="['/user-profile', moodTracker.userProfile.id, 'view']">{{ moodTracker.userProfile.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mood-tracker', moodTracker.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mood-tracker', moodTracker.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(moodTracker)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
