<div>
  <div class="dashboard-container">
    <section class="mood-patterns">
      <h2>Mood Patterns</h2>
      <p>How are you feeling today?</p>
      <div class="mood-buttons">
        <button
          *ngFor="let mood of moods; let i = index"
          (click)="recordMood(mood, i)"
          [ngClass]="{ selected: selectedMoodIndex === i }"
          class="mood-button"
        >
          {{ mood.emoji }}
        </button>
      </div>

      <canvas id="moodChart"></canvas>
    </section>

    <section class="stress-level">
      <h2>Stress Level</h2>
      <p>What is your stress level now?</p>
      <input type="range" min="1" max="10" [(ngModel)]="currentStressLevel" />
      <canvas id="stressChart"></canvas>
    </section>

    <section class="mindfulness-practice">
      <h2>Mindfulness Practice</h2>
      <p>Take a moment to center your thoughts with a guided mindfulness exercise.</p>
      <div class="mindfulness-buttons">
        <button *ngFor="let activity of mindfulnessActivities" (click)="startActivity(activity)" class="mindfulness-button">
          {{ activity.name }}
        </button>
      </div>
    </section>

    <section class="progress-tracker">
      <h2>Progress Tracker</h2>
      <p>Mindfulness Progress: {{ userProgressData.progress }}%</p>
    </section>
  </div>

  <h2 id="page-heading" data-cy="MoodTrackerHeading">
    <span>Mood Tracker</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mood-tracker"
        [routerLink]="['/mood-tracker/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Mood Tracker </span>
      </button>
    </div>
  </h2>

  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-secondary" routerLink="/custom-goal">Track Goals <i class="fa fa-arrow-right"></i></button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="moodTrackers?.length === 0">
    <span>No Mood Trackers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="moodTrackers && moodTrackers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span>Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mood">
            <div class="d-flex">
              <span>Mood</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="note">
            <div class="d-flex">
              <span>Note</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userProfile.id">
            <div class="d-flex">
              <span>User Profile</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let moodTracker of moodTrackers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mood-tracker', moodTracker.id, 'view']">{{ moodTracker.id }}</a>
          </td>
          <td>{{ moodTracker.date | formatMediumDate }}</td>
          <td>{{ moodTracker.mood }}</td>
          <td>{{ moodTracker.note }}</td>
          <td>
            <div *ngIf="moodTracker.userProfile">
              <a [routerLink]="['/user-profile', moodTracker.userProfile.id, 'view']">{{ moodTracker.userProfile.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mood-tracker', moodTracker.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mood-tracker', moodTracker.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(moodTracker)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
