<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sleepRecord">
      <h2 data-cy="sleepRecordDetailsHeading"><span>Sleep Record</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ sleepRecord.id }}</span>
        </dd>
        <dt><span>Start Time</span></dt>
        <dd>
          <span>{{ sleepRecord.startTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span>End Time</span></dt>
        <dd>
          <span>{{ sleepRecord.endTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
          <span>{{ sleepRecord.rating }}</span>
        </dd>
        <dt><span>User Profile</span></dt>
        <dd>
          <div *ngIf="sleepRecord.userProfile">
            <a [routerLink]="['/user-profile', sleepRecord.userProfile.id, 'view']">{{ sleepRecord.userProfile.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/sleep-record', sleepRecord.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
