<div class="workout-details-container">
  <div class="workout-details">
    <div *ngIf="workout">
      <h2 class="workout-details-heading" data-cy="workoutDetailsHeading">Workout Details</h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="workout-details-list">
        <div class="workout-details-item">
          <dt class="workout-details-label">Name:</dt>
          <dd class="workout-details-value">{{ workout.name }}</dd>
        </div>
        <div class="workout-details-item">
          <dt class="workout-details-label">Description:</dt>
          <dd class="workout-details-value">{{ workout.description }}</dd>
        </div>
        <div class="workout-details-item">
          <dt class="workout-details-label">Duration:</dt>
          <dd class="workout-details-value">{{ workout.duration }}</dd>
        </div>
        <div class="workout-details-item">
          <dt class="workout-details-label">Intensity Level:</dt>
          <dd class="workout-details-value">{{ workout.intensityLevel }}</dd>
        </div>
        <div class="workout-details-item">
          <dt class="workout-details-label">Exercises:</dt>
          <dd class="workout-details-value">
            <span *ngFor="let exercises of workout.exercises; let last = last">
              <a [routerLink]="['/exercise', exercises.id, 'view']">{{ exercises.name }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </dd>
        </div>
        <div class="workout-details-item">
          <dt class="workout-details-label">User Profile:</dt>
          <dd class="workout-details-value">
            <div *ngIf="workout.userProfile">
              <a [routerLink]="['/user-profile', workout.userProfile.id, 'view']">{{ workout.userProfile.id }}</a>
            </div>
          </dd>
        </div>
      </dl>

      <div class="workout-details-buttons">
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/workout', workout.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
