<div class="container">
  <div class="workout-details">
    <div *ngIf="workout">
      <h2 data-cy="workoutDetailsHeading" class="workout-details"><span>Workout Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="workout-info">
        <div class="info-item">
          <span class="info-label">Name:</span>
          <span class="info-value">{{ workout.name }}</span>
        </div>

        <div class="info-item">
          <span class="info-label">Description:</span>
          <span class="info-value">{{ workout.description }}</span>
        </div>

        <div class="info-item">
          <span class="info-label">Duration:</span>
          <span class="info-value">{{ workout.duration }}</span>
        </div>

        <div class="info-item">
          <span class="info-label">Intensity Level:</span>
          <span class="info-value">{{ workout.intensityLevel }}</span>
        </div>

        <div class="info-item">
          <span class="info-label">Exercises:</span>
          <div class="exercise-list">
            <div *ngIf="workout.exercises">
              <a [routerLink]="['/exercise', workout.exercises.id, 'view']">{{ workout.exercises.id }}</a>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/workout', workout.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
