<div class="exercise-details-container">
  <div class="exercise-details">
    <div *ngIf="exercise">
      <h2 class="exercise-details-heading" data-cy="exerciseDetailsHeading">Exercise Details</h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="exercise-details-list">
        <div class="exercise-details-item">
          <dt class="exercise-details-label">Name:</dt>
          <dd class="exercise-details-value">{{ exercise.name }}</dd>
        </div>
        <div class="exercise-details-item">
          <dt class="exercise-details-label">Description:</dt>
          <dd class="exercise-details-value">{{ exercise.description }}</dd>
        </div>
        <div class="exercise-details-item">
          <dt class="exercise-details-label">Reps:</dt>
          <dd class="exercise-details-value">{{ exercise.reps }}</dd>
        </div>
        <div class="exercise-details-item">
          <dt class="exercise-details-label">Sets:</dt>
          <dd class="exercise-details-value">{{ exercise.sets }}</dd>
        </div>
        <div class="exercise-details-item">
          <dt class="exercise-details-label">Muscle Group:</dt>
          <dd class="exercise-details-value">{{ exercise.muscleGroup }}</dd>
        </div>
      </dl>

      <div class="exercise-details-buttons">
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/exercise', exercise.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
