.custom-button-class1 {
  background-color: #ffd700; /* Set your custom color here */
  border-color: #000000; /* Optional: set border color */
  color: #800000; /* Optional: set text color */
  border-width: 2px; /* Optional: set border width */
}

.custom-button-class1:hover {
  background-color: #e6c200; /* Set your custom color here */
  border-color: #000000; /* Optional: set border color */
  color: #800000; /* Optional: set text color */
}

.custom-button-class2 {
  background-color: #2c3e50; /* Set your custom color here */
  border-color: #000000; /* Optional: set border color */
  color: #ffffff; /* Optional: set text color */
  border-width: 2px;
}

.custom-button-class2:hover {
  background-color: #233240; /* Set your custom color here */
  border-color: #000000; /* Optional: set border color */
  color: #ffffff; /* Optional: set text color */
}

.exercise-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.exercise-card {
  border: 2px solid rgba(0, 0, 0, 0.1); /* Slightly more visible outline */
  border-radius: 12px; /* Increased border radius for a smoother look */
  padding: 15px; /* Increased padding for better spacing */
  width: 300px; /* Adjust the width as needed */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* More prominent shadow */
  text-align: center;
}

.exercise-card button {
  margin-top: 10px;
  margin-right: 5px;
}

.exercise-card strong {
  font-weight: bold; /* Make the text bold */
  font-size: 1.2em; /* Adjust the font size as needed */
}

.exercise-name strong {
  font-weight: bold; /* Make the text bold */
  font-size: 1.2em; /* Adjust the font size as needed */
}

.button-container {
  display: flex;
  justify-content: center;
}

.workouts-button {
  margin-left: 7.5px; /* Adjust the value as needed for the desired padding */
}
