<div>
  <h2 id="page-heading" data-cy="ExerciseHeading" style="text-align: center">
    <p>Exercises</p>
    <p>Here is all of the exercises to choose from!</p>
    <p>Don't see an exercise? Go ahead and add it!</p>
    <div class="d-flex justify-content-center">
      <button class="btn custom-button-class2 me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn custom-button-class1 jh-create-entity create-exercise"
        [routerLink]="['/exercise/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Exercise </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="exercises?.length === 0">
    <span>No Exercises found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="exercises && exercises.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span>Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reps">
            <div class="d-flex">
              <span>Reps</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sets">
            <div class="d-flex">
              <span>Sets</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="muscleGroup">
            <div class="d-flex">
              <span>Muscle Group</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exercise of exercises; trackBy: trackId" data-cy="entityTable">
          <td>{{ exercise.name }}</td>
          <td>{{ exercise.description }}</td>
          <td>{{ exercise.reps }}</td>
          <td>{{ exercise.sets }}</td>
          <td>{{ exercise.muscleGroup }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/exercise', exercise.id, 'view']"
                class="btn custom-button-class1 btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/exercise', exercise.id, 'edit']"
                class="btn custom-button-class2 btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(exercise)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
